.form {
  z-index: 1;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #eee1d1;
  box-shadow: -1px -1px 41px -11px rgb(23, 60, 52);
  max-height: 70vh;
  color: #173c34;
}
.form label {
  margin-bottom: 10px;
}
.form input,
.form textarea {
  margin-bottom: 15px;
  padding: 10px;
  max-width: 100%;
}
.form .form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form .form-header input {
  padding: 0;
}
.form .form-header .close-button {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.form .close {
  background: none;
}
.form i {
  color: #e8522a;
}
.form .form-buttons {
  align-self: center;
}
.form .form-buttons input {
  padding: 7px 15px;
  margin-left: 5px;
  font-weight: 600;
  border-radius: 15px 3px 15px 3px;
  color: #e8522a;
  cursor: pointer;
}
.form .form-buttons :first-child {
  border: 2px solid #e8522a;
  background: none;
  transition-duration: 400ms;
}
.form .form-buttons :first-child:hover {
  background: #e8522a;
  color: white;
}
.form .form-buttons :nth-child(2) {
  background: none;
}
.form .form-buttons :nth-child(2):hover {
  -webkit-text-decoration: underline #e8522a;
  text-decoration: underline #e8522a;
  text-underline-offset: 4px;
}

.hide {
  display: none;
}

::-webkit-scrollbar-track {
  background: #c9c9c9;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
}
